@use "../core/variables/index" as *;

//$curve: cubic-bezier(0, 0, 0.52, 1.11);
$curve: linear;

.formWrapper {
  h2 {
    text-align: center;
    margin-bottom: $space25;
  }

  label {
    display: block;
    text-align: left;
    color: white;
  }
}
form {
  .text-input {
    overflow: hidden;
    margin-bottom: 0.875em;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 1em 0 12px;
    padding-left: 0;
    background: none;
    color: white;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid $periwinkle-gray;

    /*Some sibling magic happens */
    &:focus + .separator {
      transform: scaleX(1) translateY(-2px);
      opacity: 1;
    }
  }

  input {
    margin-bottom: $space25;
  }

  input[type="number"] {
    margin-left: 10px;
  }

  button[type="submit"] {
    display: flex;
    justify-content: center;
    margin: $space25 auto 0;
    border: none;
    border-radius: 2px;
    width: 255px;
    font-size: 14px;
    padding: 15px 0;

    &:hover {
      background-color: $coconut-cream;
      color: $mine-shaft;
    }
  }
}

.separator {
  height: 3px;
  width: 100%;
  background: $feta;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s $curve;
}

.form-bottom {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
