@use "../../common/common.scss" as *;

.myAccount {
  margin-top: $space25;
  display: flex;
  justify-content: center;

  &__form {
    min-width: 250px;
    border: 1px solid black;

    &--register {
      margin-right: $space25;
    }
  }
}
