@use "../../scss/core" as *;
@use "../../scss/common/forms.scss" as *;

.myAccount {
  margin-top: $space25;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__form {
    min-width: 250px;

    &--register {
      margin-right: $space25;
    }
  }

  &__separatorH2 {
    text-align: center;
    margin: $space25 auto;
  }
}
