$white-lilac: #f5f7fb;
$wild-sand: #f5f5f5;
$rhino: #293264;
$kashmir-blue: #4d5b9e;
$periwinkle-gray: #dbdef0;
$link-water: #d6dbf5;
$illusion: #f8bcbc;
$red: #ff0000;
$oxford-blue: #333c4a;
$river-bed: #495664;
$coconut-cream: #f6f7d3;
$feta: #f8fceb;
$mine-shaft: #333333;
$white: #ffffff;
$tundora: #434242;
