@use "../../scss/core" as *;

.goal {
  margin: $space25 0;
  align-self: flex-start;
  text-align: left;
  font-size: rem(24px);
  min-width: 100%;

  &--completed {
    background-color: palegreen;
  }

  &__title {
    margin-bottom: $space16;
  }

  &__button {
    @extend %reset-button;
  }
}

.score {
  display: flex;

  &__ctas,
  &__numbers,
  &__otherActionsWrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    @extend %reset-button;
  }

  &__buttonIcon {
    &:before {
      content: "";
      display: block;
      width: 55px;
      height: 55px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--decreaseScore {
      &:before {
        background-image: url("../../assets/score-decrease-button.svg");
      }
    }

    &--increaseScore {
      &:before {
        background-image: url("../../assets/score-increase-button.svg");
      }
    }

    &--edit {
      &:before {
        background-image: url("../../assets/edit-button.svg");
      }
    }

    &--delete {
      &:before {
        background-image: url("../../assets/delete-button.svg");
      }
    }

    &--reset {
      &:before {
        background-image: url("../../assets/reset-button.svg");
      }
    }
  }
}
