@use "../variables/index" as *;

// BUTTONS
@mixin buttonCommonStyle {
  background-color: $kashmir-blue;
  color: $white-lilac;
  padding: 20px 10px;
  border-radius: 10px;
  font-weight: 600;
  border-color: none;
  border: none;
  width: 155px;
  line-height: 1.2;
  font-size: rem(17px);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
}

@mixin buttonWithIcon($iconName) {
  @extend %reset-button;

  .icon {
    &:before {
      content: "";
      display: block;
      width: $space20;
      height: $space20;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../../../assets/#{$iconName}.svg");
    }
  }
}
