%reset-button {
  border: none;
  background: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  text-decoration: none;
  display: block;
  width: auto;
  min-width: auto;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}
