@use "../../scss/core" as *;

.goals {
  display: flex;
  flex-direction: column;
  margin-left: $space25;
  margin-right: $space25;

  @media screen and (min-width: 1024px) {
    width: 800px;
    margin: 0 auto;
  }

  &__h1 {
    font-size: rem($space55);
    text-align: center;
    text-decoration: underline;
    color: $white;
    margin-bottom: $space55;
  }
}

.cta {
  &__signOut {
    @extend %reset-button;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__signOutIcon {
    &:before {
      content: "";
      display: block;
      width: $space55;
      height: $space55;
      background-image: url("../../assets/signout-button.svg");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-width: 768px) {
        background-size: 40px;
      }
    }
  }
}
